.screeningQuestion-template {
    z-index: 0;
}
.screeningQuestion-template .yes-no-btn {
    background-color:rgb(240, 239, 239);
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    height: 46px;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    border-radius: 25px;
    color: black;
    width: 99px;
}
